.cell {
	position: relative;
	border: 1px solid #000;
	
	&.withMark {
		position: relative;
		
		&:before {
			content: "";
			position: absolute;
			left: -5px;
			top: -5px;
			background: #000;
			border: 4px solid #000;
			border-radius: 50%;
		}
	}
}