.dialog {
	.header {
		padding: 8px 16px;
	}
	
	h6 {
		font-weight: bold;
	}
	
	.content {
		padding: 24px 16px;
		color: rgba(0, 0, 0, 0.8);
	}
	
	.closeButton {
		position: absolute;
		right: 2px;
		top: 2px;
	}
}
