$border_color: rgba(0, 128, 0, .5);

.userPanel {
	display: flex;
	margin: 10px -30px 0;
}

.playerBlock {
	flex-grow: 1;
	height: 100px;
	margin: 10px 0 0;
	max-width: 220px;
	padding: 15px 20px;
	border-top: 1px solid $border_color;
	box-shadow: inset 0 0 1px 0 green;
	color: #dbdbdb;
	transition: box-shadow .3s ease;
	
	img {
		height: 100%;
		border: 1px solid #000;
		border-radius: 10px;
	}
	
	&.black {
		background: radial-gradient(ellipse 90% 140% at right bottom, #147619 -20%, #143a16 60%);
		border-top-right-radius: 10px;
		
		img {
			float: left;
			margin-right: 15px;
			background-color: #000;
		}
	}
	
	&.white {
		background: radial-gradient(ellipse 90% 140% at left bottom, #147619 -20%, #143a16 60%);
		border-top-left-radius: 10px;
		
		img {
			float: right;
			margin-left: 15px;
			background-color: #fff;
		}
		
		figcaption {
			text-align: right;
		}
	}
	
	&.active {
		box-shadow: inset 0 0 5px 2px green;
		
		&.black {
			background: radial-gradient(ellipse 90% 140% at right bottom, #147619 10%, #143a16 74%);
		}
		
		&.white {
			background: radial-gradient(ellipse 90% 140% at left bottom, #147619 10%, #143a16 74%);
		}
	}
}

figcaption {
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.totalScoreBlock {
	margin: 20px auto 10px;
	border-radius: 10px;
	box-shadow: inset 0 0 4px 1px green;
	background: linear-gradient(to right, #035103, #143a16 15%, #143a16 85%, #035103);
}

.actionsBlock {
	height: 110px;
	max-width: 200px;
	margin: 0 auto;
}

button.button {
	padding: 2px 16px;
	width: 100%;
	background-color: #035103;
	background-image: linear-gradient(to right, #035103, #143a16 15%, #143a16 85%, #035103);
	box-shadow: inset 0 0 4px 1px green;
	font-size: 16px;
	color: #dbdbdb;
	text-transform: capitalize;
	transition: box-shadow .3s ease;
	
	&:hover {
		box-shadow: inset 0 0 5px 3px green;
	}
	
	.totalScoreBlock & {
		background: none;
		border: 0;
		border-radius: 0 0 10px 10px;
		box-shadow: inset 0 2px 2px 0 rgba(0, 128, 0, 0.5);
		
		&:hover {
			box-shadow: inset 0 0 5px 3px green;
		}
	}
	
	.actionsBlock & {
		padding: 1px 16px;
		font-size: 15px;
		
		&:first-child {
			border-radius: 5px 5px 0 0;
		}
		
		&:last-child {
			border-radius: 0 0 5px 5px;
		}
	}
}

.totalScore {
	display: flex;
	align-items: center;
	height: 48px;
	width: 160px;
	margin: auto;
}

.squareBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	color: #dbdbdb;
	
	> div {
		height: 38px;
		width: 38px;
		border: none;
		margin-right: 4px;
	}
	
	&:first-child {
		[class^="Disk_front"] {
			display: none;
		}
	}
	
	&:last-child {
		[class^="Disk_back"] {
			display: none;
		}
	}
}

@media (max-width: 660px) {
	.userPanel {
		font-size: 18px;
	}
	
	button.button {
		font-size: 14px;
	}
	
	.playerBlock {
		height: 90px;
		max-width: 180px;
		margin: 0;
	}
	
	.totalScoreBlock {
		margin: auto;
	}
}

@media (max-width: 560px) {
	.userPanel {
		font-size: 16px;
	}
	
	button.button {
		font-size: 12px;
	}
	
	.playerBlock {
		flex-grow: 0;
		height: 80px;
	}
	
	.totalScore {
		width: 120px;
		height: 40px;
		font-size: 16px;
	}
	
	.squareBlock > div {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 460px) {
	.userPanel {
		margin: 10px -20px 0;
		font-size: 14px;
	}
	
	.playerBlock {
		height: 70px;
		padding: 12px 15px;
		
		&.black img {
			margin-right: 10px;
		}
		
		&.white img {
			margin-left: 10px;
		}
	}
	
	button.button {
		font-size: 11px;
	}
	
	.totalScore {
		width: 100px;
		height: 30px;
		font-size: 14px;
	}
	
	.squareBlock > div {
		width: 24px;
		height: 24px;
		margin-right: 2px;
	}
}

@media (max-width: 400px) {
	.playerBlock {
		height: 60px;
		padding: 10px 15px;
		
		&.black img {
			margin-right: 5px;
		}
		
		&.white img {
			margin-left: 5px;
		}
	}
	
	.totalScoreBlock {
		border-radius: 10px 10px 0 0;
		
		button.button {
			height: 30px;
			border-radius: 0;
			box-shadow: inset 0 0 2px 0 green;
		}
	}
	
	.totalScore {
		width: 90px;
		font-size: 13px;
	}
}

@media (max-width: 370px) {
	.userPanel {
		margin: 10px -13px 0;
	}
}