$board_size: 8;

.boardContainer {
	display: flex;
	flex-grow: 1;
	margin: 15px 0;
}

.board {
	position: relative;
	display: grid;
	grid-template: repeat($board_size, 1fr) / repeat($board_size, 1fr);
	width: 514px;
	height: 514px;
	margin: auto;
	background-color: #255627;
	background-image: radial-gradient(#255627 50%, #264119);
	border: 2px solid #000;
	border-radius: 5px;
	transition: all .5s ease;
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: -15px;
		background: url("../../assets/images/wood-bg.jpg");
		background-size: cover;
		border: 2px solid #000;
		border-radius: 10px;
		box-shadow: 0 2px 3px 0 #000;
		z-index: -1;
	}
}

.totalScore {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 150px;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	
	.black {
		float: left;
	}
}

@media (max-width: 660px) {
	.board {
		width: 500px;
		height: 500px;
	}
}

@media (max-width: 560px) {
	.board {
		width: 404px;
		height: 404px;
	}
}

@media (max-width: 460px) {
	.boardContainer {
		margin: 10px 0;
	}
	
	.board {
		width: 324px;
		height: 324px;
		
		&:before {
			margin: -10px;
		}
	}
}