.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 30px;
}

@media (max-width: 460px), (max-height: 460px) {
	.app {
		min-height: 370px;
		min-width: 370px;
		padding: 0 20px;
	}
}

@media (max-width: 370px), (max-height: 370px) {
	.app {
		min-height: 344px;
		min-width: 344px;
		padding: 0 10px;
	}
}