body {
	height: 100vh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&.green {
		background: radial-gradient(#255627, #0f3111);
	}
	
	&.blue {
		background: radial-gradient(#19343e, #09161c);
	}
}

#root {
	height: 100%;
}